---
import StoryDirectory from "@/layouts/StoryDirectory.astro";

import "styles/variables/tl.scss";
import "styles/tl/directory.scss";

const title = "Ayakashi Parade in mahorova";
const titleOG = "アヤカシパレード in mahorova";
const description = `
HAMA Tours received a request for individuals to participate in a cosplay event in mahorova.

The team selected to participate consisted of Kuguri, Nanaki, Kinari, Nagi, and Ushio.

However, the group faces unexpected creative differences while presenting cosplay ideas...
`;
const slug = "ayakashi_parade";
// const chapterTotal = 8;
const storyTheme = "sky";

const translators: Translators[] = [
    {
        name: "aurora",
        href: "https://x.com/azurecrystalz",
    },
];

const proofreaders: Proofreaders[] = [
    {
        name: "oli",
        href: "https://x.com/wandasho",
    },
    {
        name: "en",
        href: "https://x.com/natsubanekou",
    },
];

const chapterSections: Section[] = [
    {
        // title: "Prologue",
        chapters: [
            {
                label: 1,
                href: 1,
            },
            {
                label: 2,
                href: 2,
            },
            {
                label: 3,
                href: 3,
            },
            {
                label: 4,
                href: 4,
            },
            {
                label: 5,
                href: 5,
            },
            {
                label: 6,
                href: 6,
            },
            {
                label: 7,
                href: 7,
            },
            {
                label: 8,
                href: 8,
            },
            {
                label: 9,
                href: 9,
            },
        ],
    },
];

const banner = "file/reitoouji/ro_e64w1K66aadf2eu6.webp?timestamp=1722474290102";
const bannerPosition = "50% 15%";
const heroImage = banner;
---

<html lang="en">
    <StoryDirectory
        banner={banner}
        bannerPosition={bannerPosition}
        title={title}
        titleOG={titleOG}
        chapterSections={chapterSections}
        description={description}
        slug={slug}
        storyTheme={storyTheme}
        translators={translators}
        proofreaders={proofreaders}
        heroImage={heroImage}
    >
        <p>
            HAMA Tours received a request for individuals to participate in a cosplay event in mahorova. The team selected to participate consisted of Kuguri, Nanaki, Kinari, Nagi, and Ushio.
            However, the group faces unexpected creative differences while presenting cosplay ideas...
        </p>
    </StoryDirectory>
</html>
