---
import StoryDirectory from "@/layouts/StoryDirectory.astro";

import "styles/variables/tl.scss";
import "styles/tl/directory.scss";

const title = "S.139, R.2B";
const titleOG = "Domeki Kuguri Novel";
const description = `
Contains a translation for Domeki Kuguri's Novel!
`;
const slug = "kuguri_novel";
// const chapterTotal = 5;
const storyTheme = "sky";

const translators: Translators[] = [
    {
        name: "aurora",
        href: "https://x.com/azurecrystalz",
    },
];

const proofreaders: Proofreaders[] = [
    {
        name: "oli",
        href: "https://x.com/wandasho",
    },
];

const chapterSections: Section[] = [
    {
        // title: "Prologue",
        chapters: [
            {
                label: "99 • 95",
                href: 1,
            },
            {
                label: "49 《a capriccio》",
                href: 2,
            },
            {
                label: "1",
                href: 3,
            },
            {
                label: "0 《Mazeppa》",
                href: 4,
            },
            {
                label: "CH5",
                href: 5,
            },
        ],
    },
];

const banner = "file/reitoouji/ro_VrsUV66aaebe7gc5.webp?timestamp=1722477550907";
const bannerPosition = "50% 45%";
const heroImage = banner;
---

<html lang="en">
    <StoryDirectory
        banner={banner}
        bannerPosition={bannerPosition}
        title={title}
        titleOG={titleOG}
        chapterSections={chapterSections}
        description={description}
        slug={slug}
        storyTheme={storyTheme}
        translators={translators}
        proofreaders={proofreaders}
        heroImage={heroImage}
    >
        <p>
            Contains a translation for Domeki Kuguri's Novel!
        </p>
    </StoryDirectory>
</html>